<div class="floating-nav-wrapper" onclick="document.querySelector('.navbar-toggler')?.click()">
    <nav class="custom-pill-nav">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-symbols-rounded material-symbols-home">home</span>
                <span class="nav-text">Home</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="profile">
                <span class="material-symbols-rounded material-symbols-person">person</span>
                <span class="nav-text">Profile</span>
            </NavLink>
        </div>
    </nav>
</div>

