@page "/login"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Identity
@inject NavigationManager Navigation
@using HolidayPlanner.Services

<PageTitle>Login</PageTitle>

@* <h1>Login</h1> *@
<br><br>
@* sytle attributes can be deleted *@
<EditForm Model="@userDto" OnValidSubmit="@ValidFormSubmitted" FormName="LoginUser" method="post" style="display: flex; flex-direction: column; align-items: strech;">
  <fieldset style="display: flex; flex-direction: column; align-items: flex-start; padding-left: 20px; padding-right: 20px; padding-bottom: 20px; padding-top: 10px; border-radius: 15px;">
    <legend style="font-size: x-large;">Login</legend>

    <label for="username" style="font-size: large;">Username:</label>
    <input type="email" required @bind-value="userDto.Username" placeholder="exapmleEmail@example.co" title="Any valid email"
    style="font-size: large; min-width: 225px; width: 100%; max-width: 512px;">

    <label for="password" style="font-size: large; margin-top: 20px;">Password:</label>
    <input type="text" required @bind-value="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}" title="password must be at least 10 characters long and contain at least 1 of each of the following: lowercase letter, uppercase letter, number"
    style="font-size: large; min-width: 225px; width: 100%; max-width: 512px;">

  </fieldset>
  <input type="submit" value="Login" style="padding: 15px; font-size: x-large; border-radius: 15px;">
</EditForm>

<br><hr><br>

<a href="../registration">
  <button style="font-size: large; padding: 15px; border-radius: 15px;">New User? Click here to register</button>
</a>

@code {
  string password = "";
  HolidayPlanner.DTOs.UserDto userDto = new HolidayPlanner.DTOs.UserDto { Name = "placeholder", Username = ""};

  void ValidFormSubmitted(EditContext editContext) {

    var config = new ConfigurationBuilder()
      .SetBasePath(Directory.GetCurrentDirectory())
      .AddJsonFile("appsettings.json")
      .Build();

    var connectionString = config.GetConnectionString("Default");

    var dataSource = Npgsql.NpgsqlDataSource.Create(connectionString);

    HolidayPlanner.Services.UsersController U_Ctrlr = new HolidayPlanner.Services.UsersController(dataSource);
    var sfsef = U_Ctrlr.CheckIfUsernameExists(userDto.Username);

    if(U_Ctrlr.CheckIfUsernameExists(userDto.Username) != null) {
      var passwordFromDB = U_Ctrlr.GetPasswordHashByUsername(userDto.Username).Result.PasswordHash;
      string passwordHash = new PasswordHasher<HolidayPlanner.DTOs.UserDto>().HashPassword(userDto, password);

      PasswordVerificationResult hashVarificationResult = new  PasswordHasher<HolidayPlanner.DTOs.UserDto>().VerifyHashedPassword(userDto, passwordFromDB, password);

      @* PasswordVerificationResult hashVarificationResult = new  PasswordHasher<HolidayPlanner.DTOs.UserDto>().VerifyHashedPassword(userDto, hashedPassword: passwordHash, providedPassword: "Placeh0lder"); *@

      switch (hashVarificationResult) {

        case PasswordVerificationResult.Failed:
          Console.WriteLine(value: "Your password or username is incorrect.");
          break;

        case PasswordVerificationResult.Success:
          Console.WriteLine(value: "Correct Password");
          Navigation.NavigateTo(uri: $"/profile/{userDto.Id}");
          break;

        case PasswordVerificationResult.SuccessRehashNeeded:
          Console.WriteLine(value: "Correct Password but should be rehashed and updated.");
          Navigation.NavigateTo(uri: $"/profile/{userDto.Id}");
          break;

        default:
          throw new ArgumentOutOfRangeException();
      }
    } else {
      Console.WriteLine(value: "Your password or username is incorrect.");
    }
  }
}