@page "/login"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@using Npgsql
@using System
@using System.Security.Cryptography
@using System.Text
@layout EmptyLayout
@inject NpgsqlDataSource DataSource
@inject CustomAuthStateProvider AuthStateProvider

<PageTitle>Holiday Planner - Login</PageTitle>

<h1>Holiday Planner - Login</h1>

<br><br>

<EditForm class="form-container" Model="@userDto" OnValidSubmit="@ValidFormSubmitted" FormName="LoginUser" method="post">

    <legend style="font-size: x-large;">Login</legend>
    <p>Enter your username and password to login to you Holiday Planner!</p>

    <label for="username">Username:</label>
    <input class="form-control" type="email" required @bind-value="Username" placeholder="exapmleEmail@example.co" title="Any valid email">

    <label for="password">Password:</label>
    <input class="form-control" type="password" required @bind-value="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}" title="password must be at least 10 characters long and contain at least 1 of each of the following: lowercase letter, uppercase letter, number"
    >

  <input class="btn login-btn" type="submit" value="Login" >
</EditForm>

<br><hr style="width: 100%;"><br>

<a href="../registration">
  <button class="redirect-btn">New User? Click here to register</button>
</a>

@code {
  string password = "";
  string Username { get; set; } = "";

  HolidayPlanner.DTOs.UserDto userDto = new HolidayPlanner.DTOs.UserDto { Name = "placeholder", Username = ""};

  async Task ValidFormSubmitted(EditContext editContext) {

    string connectionString = ConfigurationHelper.GetConnectionString(name: "Default");

		try {
			await using NpgsqlCommand cmd = DataSource.CreateCommand(commandText: "SELECT \"Id\", \"Username\", \"Name\", \"PasswordHash\" FROM \"Users\" WHERE \"Username\" = @username");

			cmd.Parameters.AddWithValue(parameterName: "@username", Username);

			using NpgsqlDataReader reader = await cmd.ExecuteReaderAsync();
      string passwordFromDB = "";

			while (await reader.ReadAsync()) {
				int id = reader.GetInt32(ordinal: 0);
				string username = reader.GetString(ordinal: 1);
        string name = reader.GetString(ordinal: 2);
				passwordFromDB = reader.GetString(ordinal: 3);
        userDto.Id = id;
        userDto.Name = name;
				userDto.Username = username;
			}

      if(userDto.Username == Username) {
        string sSourceData;
        byte[] tmpSource;
        byte[] tmpHash;

        sSourceData = password;
        tmpSource = ASCIIEncoding.ASCII.GetBytes(sSourceData);
        tmpHash = MD5.Create().ComputeHash(tmpSource);

        string passwordHash = ByteArrayToString(tmpHash);

        static string ByteArrayToString(byte[] arrInput) {
          int i;
          StringBuilder sOutput = new StringBuilder(arrInput.Length);
          for (i=0;i < arrInput.Length; i++) {
            sOutput.Append(arrInput[i].ToString(format: "X2"));
          }
          return sOutput.ToString();
        }

        if (passwordHash == passwordFromDB) {
          Console.WriteLine(value: "Correct Password");
          await AuthStateProvider.Login(userDto.Id, userDto.Username, userDto.Name);
          Navigation.NavigateTo("/");
        } else {
          Console.WriteLine(value: "Your password or username is incorrect.");
        }
      } else {
        Console.WriteLine(value: "Your password or username is incorrect.");
      }
		} catch (NpgsqlException ex) {
			Console.WriteLine(value: $"Error: {ex.Message}");
		}

  }
}