@page "/registration"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@using Npgsql
@using HolidayPlanner.DTOs
@using System
@using System.Security.Cryptography
@using System.Text
@layout EmptyLayout

<PageTitle>Holiday Planner - Registration</PageTitle>

<h1>Holiday Planner - Registration</h1>

<br><br>

<EditForm class="form-container" Model="@userDto" OnValidSubmit="@RegisterUser" FormName="RegisterUser" method="post">
  <legend style="font-size: x-large;">Register</legend>

  <label asp-for="name" style="font-size: large;">Name:</label>
  <input class="form-control" asp-for="name" type="text" required @bind-value="userDto.Name" title="Type either your full name or your initials">

  <label asp-for="username" style="font-size: large; margin-top: 20px;">Username:</label>
  <input class="form-control" asp-for="username" type="email" required @bind-value="Username" placeholder="exapmleEmail@example.co" title="Any valid email">

  <label asp-for="password" style="font-size: large; margin-top: 20px;">Password:</label>
  <input class="form-control" asp-for="password" type="password" required @bind-value="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}" title="password must be at least 10 characters long and contain at least 1 of each of the following: lowercase letter, uppercase letter, number">

  <input class="btn login-btn" type="submit" value="Register">
</EditForm>

<br><hr style="width: 100%;"><br>

<a href="../login">
  <button class="redirect-btn"">Already have an account? Click here to login</button>
</a>

@code {
  string password = "";
  string Username { get; set; } = "";
  HolidayPlanner.DTOs.UserDto userDto = new HolidayPlanner.DTOs.UserDto { Name = "", Username = ""};

  async void RegisterUser(EditContext editContext) {

    string connectionString = ConfigurationHelper.GetConnectionString(name: "Default");

    UserDto dto = new UserDto { Name = "name", Username = "username" };

		try {
			await using NpgsqlDataSource dataSource = NpgsqlDataSource.Create(connectionString);
			await using NpgsqlCommand cmd = dataSource.CreateCommand(commandText: "SELECT \"Username\" FROM \"Users\" WHERE \"Username\" = @username");

			cmd.Parameters.AddWithValue(parameterName: "@username", Username);

			using NpgsqlDataReader reader = await cmd.ExecuteReaderAsync();

			while (await reader.ReadAsync()) {
				string username = reader.GetString(ordinal: 0);
				dto.Username = username;
			}

      HolidayPlanner.Services.UsersController U_Ctrlr = new HolidayPlanner.Services.UsersController(dataSource);

      if(dto.Username != Username) {
        userDto.Username = Username;

        string sSourceData;
        byte[] tmpSource;
        byte[] tmpHash;

        sSourceData = password;
        tmpSource = ASCIIEncoding.ASCII.GetBytes(sSourceData);
        tmpHash = MD5.Create().ComputeHash(tmpSource);

        string passwordHash = ByteArrayToString(tmpHash);

        static string ByteArrayToString(byte[] arrInput) {
          int i;
          StringBuilder sOutput = new StringBuilder(arrInput.Length);
          for (i=0;i < arrInput.Length; i++) {
            sOutput.Append(arrInput[i].ToString(format: "X2"));
          }
          return sOutput.ToString();
        }

        await U_Ctrlr.CreateUser(userDto, passwordHash);
        Navigation.NavigateTo(uri: "/login");
      }
      else {
        @* Console.WriteLine(value: "An account with that username already exists"); *@
      }
		} catch (NpgsqlException ex) {
			Console.WriteLine(value: $"Error: {ex.Message}");
		}
  }
}